.container {
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 200px
}

@media (min-width: 576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px
    }
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.test {
    max-width: 310px;
}

.testimonial-title h2 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.testimonial-title h2 {
    font-size: 32px;
}

.testimonial-subtitle {
    font-size: 16px;
    margin-bottom: 80px;
    color: #ffffff;
}

.testimonial-subtitle {
    margin-bottom: 26px;
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%
}

.testimonial-item:hover {
    -webkit-transition: all .3s ease-in-out !important;
    -o-transition: all .3s ease-in-out !important;
    transition: all .3s ease-in-out !important;
    /* max-width: 560px; */
    margin: 0 15px;
    text-align: center;
    background-color: #0284d0;
    padding: 50px 30px;
}

.testimonial-item:hover h5 {
    color: #ffffff;
    -webkit-transition: all .3s ease-in-out !important;
    -o-transition: all .3s ease-in-out !important;
    transition: all .3s ease-in-out !important;
}

.testimonial-item:hover p {
    color: #ffffff;
    -webkit-transition: all .3s ease-in-out !important;
    -o-transition: all .3s ease-in-out !important;
    transition: all .3s ease-in-out !important;

}

.testimonial-item {
    width: 200px;
    margin: 15px;
    text-align: center;
    background-color: #ffffff;
    padding: 50px 30px;
    display: inline-block;
    /* -webkit-transition: all .3s ease-in-out !important;
    -o-transition: all .3s ease-in-out !important;
    transition: all .3s ease-in-out !important; */
}

.testimonial-item:hover .testimonial-icon {
    font-size: 1.625rem;
    margin-bottom: 1.625rem;
    color: #ffffff;
    -webkit-transition: all .3s ease-in-out !important;
    -o-transition: all .3s ease-in-out !important;
    transition: all .3s ease-in-out !important;
}

.testimonial-item .testimonial-icon {
    font-size: 1.625rem;
    margin-bottom: 1.625rem;
    color: #39c5de;
    -webkit-transition: all .3s ease-in-out !important;
    -o-transition: all .3s ease-in-out !important;
    transition: all .3s ease-in-out !important;
}


.testimonial-item .testimonial-image {
    position: relative;
    overflow: hidden;
    max-width: 50px;
    border: 0px solid #d9d9d9;
    padding: 3px;
    margin: 0 auto 1rem auto;
    border-radius: 0px;
}

.testimonial-item:hover .destination {
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
    -webkit-transition: all .3s ease-in-out !important;
    -o-transition: all .3s ease-in-out !important;
    transition: all .3s ease-in-out !important;
}

.testimonial-item .destination {
    font-size: 13px;
    font-weight: 400;
    color: #616161;
    -webkit-transition: all .3s ease-in-out !important;
    -o-transition: all .3s ease-in-out !important;
    transition: all .3s ease-in-out !important;
}

#testimonial_slider .owl-dots {
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
}

#testimonial_slider .owl-dots .owl-dot {
    background-color: transparent;
    height: 10px;
    border: 1px solid #ffffff;
    width: 10px;
    margin-top: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

#testimonial_slider .owl-dots .owl-dot.active {
    background: #FFFFFF;
    height: 10px;
    border: 1px solid #ffffff;
    width: 10px;
    border-radius: 50%;
}

.main-font {
    font-family: 'Poppins', sans-serif;
}

.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1
}

.fa-quote-left:before {
    content: "\f10d"
}

.bg-testimonial {
    background-color: #39c5de;
}

.test {
    max-width: 310px;
    margin: auto;
}

/* .position-relative{position:relative!important} */

.col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}


.department-sub {
    font-size: 16px;
    margin-bottom: 20px;
    color: #7e8186;
}

.alt-font {
    font-family: 'Roboto', sans-serif;
}

.blog-body article .post-details.alt-font {
    font-size: 11px;
    line-height: 2;
    color: #939393;
    text-transform: uppercase;
    margin-bottom: .8rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.text-center {
    text-align: center !important
}

@media (min-width: 576px) {
    .text-sm-left {
        text-align: left !important
    }
}

.department-title h2 {
    font-size: 48px;
    margin-bottom: 80px;
    font-weight: 400;
    color: #3c3f46;
    font-family: 'Poppins', sans-serif;
}

.department-title h2 {
    font-size: 30px;
    line-height: 46px;
    margin-bottom: 30px;
}

.feature-item {
    display: inline-flex;
    max-width: 450px;
    text-align: left;

}

.feature-item .icon {
    text-align: center;
    position: relative;
    z-index: 1;
    font-size: 40px;
}

.feature-item {
    text-align: right;
    cursor: pointer;
}

.feature-item .feature-heading {
    color: #3c3f46;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    margin-bottom: 10px;
    line-height: 1.2;
    font-weight: 400;
}

.feature-item .icon {
    background-color: #00bcd4;
    width: 70px;
    height: 70px;
    max-width: 70px;
    min-width: 70px;
    text-align: center;
    display: table;
    position: relative;
    border-radius: 50%;
    z-index: 1;
    font-size: 26px;
    line-height: 70px;
    color: #fff;
    margin: 0 15px 15px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}

.feature-item .icon-2 {
    background-color: #0284d0;
    width: 70px;
    height: 70px;
    max-width: 70px;
    min-width: 70px;
    text-align: center;
    display: table;
    position: relative;
    border-radius: 50%;
    z-index: 1;
    font-size: 26px;
    line-height: 70px;
    color: #fff;
    margin: 0 15px 15px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}


.feature-item:hover .icon {
    background-color: #0284d0;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.feature-item:hover .icon-2 {
    background-color: #00bcd4;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

@media screen and (max-width: 1024px) {

    .feature-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .feature-item .icon {
        margin: 0 auto 15px;
    }

    .feature-item .icon-2 {
        margin: 0 auto 15px;
    }

    .text {
        text-align: center !important;
    }

    .blog-panel .panel-img {
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

}


@media screen and (max-width: 768px) {
    #join-us {
        display: none;
    }

    .select2-container {
        width: 100% !important;
    }

    .form-title {
        text-align: center;
    }

    .form-para {
        text-align: center;
    }

    .social-icons-simple {
        display: none;
    }

    .side-menu {
        width: 300px;
    }

    .feature-item .icon-2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 auto !important;
    }

    .feature-item .icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 auto !important;
    }

    .feature-txt {
        margin-top: 20px;
    }

    .hermes.tp-bullets {
        display: none;
    }

    section {
        padding: 4.5rem 0;
    }

    .main-title.style-two h2 {
        font-size: 32px;
        line-height: 46px;
    }

    .main-title.style-two h5 {
        font-size: 18px;
        line-height: 28px;
    }

    .department-title h2 {
        font-size: 30px;
        line-height: 46px;
        margin-bottom: 30px;
    }

    .form-title h2 {
        margin-bottom: 32px;
        font-size: 32px;
        text-align: center;
    }

    .feature-item {
        margin: 0 auto;
    }

    .da-thumbs li {
        width: auto;
        margin-left: 150px;
    }

    .side-nav .navbar-nav .nav-link {
        font-size: 20px;
        line-height: 30px;
    }

    .form-bg {
        background-position: top center;
        background-position-x: right;
        background-position-y: top;
    }

    .portfolio-title h2 {
        font-size: 32px;
    }

    .testimonial-title h2 {
        font-size: 32px;
    }

    .portfolio-subtitle {
        margin-bottom: 26px;
    }

    .testimonial-subtitle {
        margin-bottom: 26px;
    }

    .serial-box {
        margin-bottom: 40px;
    }

    .test {
        max-width: 310px;
    }

    .blog-text {
        text-align: center;
        margin-bottom: 40px;
    }

    .blog-text h2 {
        font-size: 26px;
    }

    .date, .date-2 {
        right: 21px;
    }

    #google-map {
        margin-top: 80px;
    }

    .address-text {
        text-align: center;
        padding: 2.5rem 0;
    }

    .footer-social a {
        margin: 10px 3px;
    }

    .map-text {
        font-size: 32px;
    }

    .contact-subtitle {
        font-weight: 400;
        font-size: 16px;
    }

    .nav-link {
        display: block;
        padding: .3rem .6rem;
    }

    .blog-topic h5 {
        text-align: center;
    }

    .blog-post h5 {
        text-align: center;
    }

    .blog-tags-sec h5 {
        text-align: center;
    }

    .blog-archives h5 {
        text-align: center;
    }

    .blog-panel {
        text-align: center;
        margin-bottom: 20px;
    }

    .blog-classic {
        text-align: center;
    }

    .list-unstyled {
        text-align: center;
    }

    .blog-body {
        padding: 4.5rem 0;
    }

    .blog-body article .post-content {
        margin: 0;
    }

    .small-bg-overlay {
        background-color: #ffffff;
        opacity: 0.6;
        height: 100%;
        z-index: 1;
        width: 100%;
    }
}

.mb-md-0, .my-md-0 {
    margin-bottom: 0 !important
}

.mb-5, .my-5 {
    margin-bottom: 3rem !important;
}

.feature-item .icon {
    text-align: center;
    position: relative;
    z-index: 1;
    font-size: 40px;
}

.feature-item .icon {
    background-color: #00bcd4;
    width: 70px;
    height: 70px;
    max-width: 70px;
    min-width: 70px;
    text-align: center;
    display: table;
    position: relative;
    border-radius: 50%;
    z-index: 1;
    font-size: 26px;
    line-height: 70px;
    color: #fff;
    margin: 0 15px 15px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}


.feature-item:hover .icon {
    background-color: #0284d0;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1
}

.fas.fa-pull-left {
    margin-right: .3em
}

.fas.fa-pull-right {
    margin-left: .3em
}

.fas {
    font-family: "Font Awesome 5 Free"
}

.fas {
    font-weight: 900
}

.fa-stethoscope:before {
    content: "\f0f1"
}

.feature-txt {
    text-align: left;
    display: table-cell;
    vertical-align: middle;
}

.feature-item .feature-heading {
    color: #3c3f46;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    margin-bottom: 10px;
    line-height: 1.2;
    font-weight: 400;
}

.fa-tint:before {
    content: "\f043"
}

.fa-tint-slash:before {
    content: "\f5c7"
}

.fa-briefcase-medical:before {
    content: "\f469"
}

.fa-microscope:before {
    content: "\f610"
}

.fa-syringe:before {
    content: "\f48e"
}

.fa-heart:before {
    content: "\f004"
}

.title-clr {
    color: #0284d0;
}

.text {
    color: #3c3f46;
}

.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1
}

.fa.fa-pull-left, .fab.fa-pull-left, .fal.fa-pull-left, .far.fa-pull-left, .fas.fa-pull-left {
    margin-right: .3em
}

.fa.fa-pull-right, .fab.fa-pull-right, .fal.fa-pull-right, .far.fa-pull-right, .fas.fa-pull-right {
    margin-left: .3em
}

.fa, .far, .fas {
    font-family: "Font Awesome 5 Free"
}

.fa, .fas {
    font-weight: 900
}

.fa-stethoscope:before {
    content: "\f0f1"
}

.fa-tint:before {
    content: "\f043"
}

.fa-tint-slash:before {
    content: "\f5c7"
}

.fa-tired:before {
    content: "\f5c8"
}

.fa-toggle-off:before {
    content: "\f204"
}
